bin/
include/
lib/
lib64/
tests/
instance/

images/
__pycache__/
*.py[cod]
*.jpg
.venv
env
venv/
pyvenv.cfg                                                                                                            
