bin/
include/
lib/
lib64/
tests/
instance/
myproject/flight_application/static/images/*
myproject/flight_application/__pycache__/*
.venv
env
venv/
pyvenv.cfg                                                                                                            
