{% extends 'base.html' %}


{% block title %}Create Flight - My Flask App{% endblock %}

{% block content %}
	{% if error %}
		<div class="error">{{ error }}</div>
	{% elif success %}
        	<div class="success">{{ success }}</div>
    	{% else %}
		<h2>Create a New Flight</h2>
		<form method="post" action="{{ url_for('admin_bp.create_flight') }}">
    			<label for="flight_number">Flight Number:</label>
    			<input type="text" id="flight_number" name="flight_number" required><br>

    			<label for="departure_airport">Departure Airport:</label>
			<input type="text" id="departure_airport" name="departure_airport" required><br>


    			<label for="arrival_airport">Arrival Airport:</label>
    			<input type="text" id="arrival_airport" name="arrival_airport" required><br>

    			<label for="departure_time">Departure Time (YYYY-MM-DD HH:MM:SS):</label>
    			<input type="datetime-local" id="departure_time" name="departure_time" required><br>

    			<label for="arrival_time">Arrival Time (YYYY-MM-DD HH:MM:SS):</label>
    			<input type="datetime-local" id="arrival_time" name="arrival_time" required><br>

    			<label for="price">Price:</label>
    			<input type="number" step="0.01" id="price" name="price" required><br>

    			<label for="available_seats">Available Seats:</label>
    			<input type="number" id="available_seats" name="available_seats" required><br>

    			<input type="submit" value="Create Flight">
		</form>
	{% endif %}
{% endblock %}
