{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                <ul>
                {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
        {% endif %}
{% endwith %}

<form method="post" action="{{ url_for('users.register_user') }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Role:</label>
    <select id="role" name="role">
        <option value="user">User</option>
        <option value="admin">Admin</option>
    </select><br>

    <input type="submit" value="Register">
</form>
{% endblock %}
