{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}
{% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% block content %}

<header>
        <nav>
            <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('users.logout') }}">Logout</a></li>

            </ul>
        </nav>
    </header>

    <h1>User Dashboard</h1>
    <h3>Welcome, {{ session['username'] }}!</h3>
    
    <ul>
        <li><a href="{{ url_for('users.book_flight') }}">Book a Flight</a></li>
	<li><a href="{{ url_for('search_flights') }}">Search Flights</a></li>
        <!-- Add more user functionalities as needed -->
    </ul>
{% endblock %}
