/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    background-image: url('../images/img_2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: rgba(30, 61, 88, 0.9); /* Semi-transparent background */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header img.logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f9aa33;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(30, 61, 88, 0.9); /* Semi-transparent background */
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Button Styles */
button,
input[type="submit"] {
    background-color: #1e3d58;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #f9aa33;
}

/* Form Styles */
form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="datetime-local"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}


////
form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

